$corner_curve: 10px;
$bookmark_padding: $corner_curve * 2;
$single_bookmark_width: 200px;
$image_width: $single_bookmark_width;
$image_height_ratio: 0.75;
$image_height: $single_bookmark_width * $image_height_ratio;


ul.bookmarks {
    @include contain-floated-children;
    margin: 0 0 30px;
    padding: 0;
    float: left;

    > li {
        padding: $bookmark_padding;
        margin-right: 30px;
        margin-bottom: 30px;
        background: #fff;
        color: black;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

        max-width: $single_bookmark_width - $bookmark_padding * 2;
        border-radius: $corner_curve;
        float: left;

        h2 {
            font-weight: normal;
            padding-top: $image_height;

            span {
                display: block;
                height: 2 * $base_line;
                overflow: hidden;
            }

            a {
                color: black;
            }

            img {
                width: $single_bookmark_width;
                height: $image_height;
                display: block;
                border-top-right-radius: $corner_curve;
                border-top-left-radius: $corner_curve;
                margin: 0 - $bookmark_padding;
                margin-top: 0 - $image_height - $bookmark_padding;
                margin-bottom: $corner_curve;
            }
        }

        .domain {
            margin-top: $corner_curve;
            margin-bottom: 0 - $corner_curve;
            font-size: 9px;
            clear: both;
            font-family: Monaco, monospace;
            color: #999;
            height: 12px;
            line-height: 12px;
            overflow: hidden;

            img {
                float: left;
                display: block;
                margin-right: 4px;
                width: 12px;
                height: 12px;
            }
        }
    }
}
