{% load concertina_pagination %}

<ul>
{% for page in page_obj|concertina_pagination %}
  <li><a href='?page={{page}}'>{{page}}</a></li>
{% endfor %}
</ul>
<hr>

{% for bookmark in object_list %}
  <li>
    <h1><a href='{% url "bookmark-detail" bookmark.pk %}'>{{bookmark}}</a></h1>
    <p>{{bookmark.description}}</p>
    <ul>
      {% for tag in bookmark.tags.all %}
        <li>
          <a href='{% url "tagged-list" tag.slug %}'>{{tag}}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}